
@{
    ViewBag.Title = "Meeting";
}

<h2>Meeting</h2>

<p>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "Meeting")'">Add new</button>
    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ViewAll", "Meeting")'">List of meetings</button>
</p>

<div class="emptydiv">
</div>
