@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="leftdiv">
        <div id="logobg">
            <img id="logobig"src="https://i.imgur.com/iv9xIOW.png/" />
        </div>
        <p>A website app designed especially for the owners of the estate agencies and their assistants.</p>
    </div>
    <div id="rightdiv">
        <img id="estateimg" src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_1280.jpg" />
    </div>
</div>

