
@{
    ViewBag.Title = "Owner";
}

<h2>Owner</h2>

<p>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "Owner")'">Add new</button>
    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ViewAll", "Owner")'">List of owners</button>
</p>

<div class="emptydiv">
</div>
