
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<p>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "Employee")'">Add new</button>
    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ViewAll", "Employee")'">List of employees</button>
</p>

<div class="emptydiv">
</div>
